@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


/* =========================
   GLOBAL
========================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #080808;
    color: #ffffff;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}


/* =========================
   NAVBAR
========================= */

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgba(8, 8, 8, 0.90);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid #1d1d1d;
}

.navbar {
    max-width: 1200px;
    margin: auto;
    height: 75px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 25px;
}

.logo {
    font-size: 28px;
    font-weight: 800;
}

.logo span {
    color: #00e5ff;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a {
    color: #cfcfcf;
    font-size: 14px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #00e5ff;
}

.nav-btn {
    padding: 10px 20px;
    border: 1px solid #00e5ff;
    color: #00e5ff;
    border-radius: 5px;
    transition: 0.3s;
}

.nav-btn:hover {
    background: #00e5ff;
    color: #000;
}


/* =========================
   HERO
========================= */

.hero {
    min-height: 100vh;
    max-width: 1200px;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 120px 25px 70px;
}

.hero-content {
    max-width: 650px;
}

.small-title {
    color: #00e5ff;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.hero h1 {
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
}

.hero-image img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #00e5ff;
    box-shadow: 0 0 50px rgba(0, 229, 255, 0.25);
}

.hero h1 span {
    color: #00e5ff;
}

.hero h2 {
    font-size: 30px;
    margin-top: 10px;
    color: #ddd;
}

.hero h2 span {
    color: #00e5ff;
}

.hero-text {
    color: #aaa;
    line-height: 1.8;
    margin: 25px 0;
    max-width: 600px;
}

.hero-buttons {
    display: flex;
    gap: 15px;
}

.btn {
    padding: 13px 25px;
    border-radius: 5px;
    font-weight: 600;
    transition: 0.3s;
}

.primary-btn {
    background: #00e5ff;
    color: #000;
}

.primary-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 0 20px rgba(0, 229, 255, 0.3);
}

.secondary-btn {
    border: 1px solid #444;
    color: white;
}

.secondary-btn:hover {
    border-color: #00e5ff;
    color: #00e5ff;
}

.social-icons {
    display: flex;
    gap: 15px;
    margin-top: 30px;
}

.social-icons a {
    width: 42px;
    height: 42px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #333;
    border-radius: 50%;

    color: #aaa;

    transition: 0.3s;
}

.social-icons a:hover {
    color: #00e5ff;
    border-color: #00e5ff;
    transform: translateY(-4px);
}


/* HERO IMAGE */

.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-circle {
    width: 350px;
    height: 350px;

    border-radius: 50%;
    border: 2px solid #00e5ff;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0 0 50px rgba(0, 229, 255, 0.15);
}

.profile-placeholder {
    width: 300px;
    height: 300px;

    border-radius: 50%;
    background: #151515;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 100px;
    color: #00e5ff;
}


/* =========================
   SECTIONS
========================= */

.section {
    max-width: 1200px;
    margin: auto;
    padding: 100px 25px;
}

.section-title {
    text-align: center;
    margin-bottom: 60px;
}

.section-title p {
    color: #00e5ff;
    font-size: 13px;
    letter-spacing: 3px;
}

.section-title h2 {
    font-size: 42px;
    margin-top: 5px;
}

.section-title h2 span {
    color: #00e5ff;
}


/* =========================
   ABOUT
========================= */

.about-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.about-box {
    background: #101010;
    border: 1px solid #222;
    padding: 35px;
    border-radius: 10px;

    transition: 0.3s;
}

.about-box:hover {
    transform: translateY(-8px);
    border-color: #00e5ff;
}

.about-box i {
    color: #00e5ff;
    font-size: 35px;
    margin-bottom: 20px;
}

.about-box h3 {
    margin-bottom: 12px;
}

.about-box p {
    color: #999;
    line-height: 1.7;
}


/* =========================
   SKILLS
========================= */

.skills-section {
    max-width: 900px;
}

.skill {
    margin-bottom: 30px;
}

.skill-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.skill-info h3 {
    font-size: 15px;
}

.skill-info span {
    color: #00e5ff;
}

.progress {
    width: 100%;
    height: 8px;
    background: #222;
    border-radius: 10px;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    background: #00e5ff;
    border-radius: 10px;
}

.html {
    width: 90%;
}

.css {
    width: 85%;
}

.javascript {
    width: 65%;
}

.github {
    width: 75%;
}


/* =========================
   PROJECTS
========================= */

.projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.project-card {
    background: #101010;
    border: 1px solid #222;
    border-radius: 10px;
    overflow: hidden;

    transition: 0.3s;
}

.project-card:hover {
    transform: translateY(-8px);
    border-color: #00e5ff;
}

.project-icon {
    height: 150px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #151515;

    font-size: 60px;
    color: #00e5ff;
}

.project-content {
    padding: 25px;
}

.project-content h3 {
    margin-bottom: 10px;
}

.project-content p {
    color: #999;
    line-height: 1.6;
    font-size: 14px;
}

.project-tags {
    display: flex;
    gap: 8px;
    margin: 18px 0;
}

.project-tags span {
    padding: 5px 10px;
    background: #1b1b1b;
    color: #00e5ff;
    font-size: 11px;
    border-radius: 3px;
}

.project-links {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.project-links a {
    color: #00e5ff;
    font-size: 13px;
}

.project-links a:hover {
    text-decoration: underline;
}


/* =========================
   EDUCATION
========================= */

.timeline {
    max-width: 800px;
    margin: auto;
    position: relative;
}

.timeline::before {
    content: '';
    position: absolute;

    left: 20px;
    top: 0;
    bottom: 0;

    width: 2px;
    background: #222;
}

.timeline-item {
    position: relative;
    padding-left: 70px;
    margin-bottom: 50px;
}

.timeline-icon {
    position: absolute;

    left: 0;
    top: 0;

    width: 42px;
    height: 42px;

    border-radius: 50%;

    background: #00e5ff;
    color: #000;

    display: flex;
    justify-content: center;
    align-items: center;
}

.timeline-content {
    background: #101010;
    border: 1px solid #222;
    padding: 25px;
    border-radius: 8px;
}

.timeline-content > span {
    color: #00e5ff;
    font-size: 12px;
}

.timeline-content h3 {
    margin: 7px 0;
}

.timeline-content h4 {
    color: #aaa;
    font-weight: 400;
    margin-bottom: 10px;
}

.timeline-content p {
    color: #999;
    line-height: 1.6;
}


/* =========================
   CONTACT
========================= */

.contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
}

.contact-info h3 {
    font-size: 28px;
    margin-bottom: 15px;
}

.contact-info > p {
    color: #999;
    line-height: 1.7;
    margin-bottom: 30px;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 18px;
    margin-bottom: 25px;
}

.contact-item i {
    color: #00e5ff;
    font-size: 22px;
}

.contact-item h4 {
    font-size: 14px;
}

.contact-item p {
    color: #888;
    font-size: 13px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    background: #101010;
    border: 1px solid #292929;
    color: white;

    padding: 15px;

    outline: none;
    border-radius: 5px;

    font-family: inherit;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #00e5ff;
}

.contact-form button {
    padding: 14px;
    background: #00e5ff;
    color: #000;

    border: none;
    border-radius: 5px;

    font-weight: 700;
    cursor: pointer;

    transition: 0.3s;
}

.contact-form button:hover {
    transform: translateY(-3px);
}


/* =========================
   FOOTER
========================= */

footer {
    border-top: 1px solid #222;

    padding: 25px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1200px;
    margin: auto;
}

footer p {
    color: #777;
    font-size: 13px;
}

footer span {
    color: #00e5ff;
}

footer a {
    width: 40px;
    height: 40px;

    border: 1px solid #333;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #00e5ff;
}


/* =========================
   RESPONSIVE
========================= */

@media (max-width: 900px) {

    .nav-links {
        display: none;
    }

    .hero {
        flex-direction: column-reverse;
        text-align: center;
        gap: 50px;
    }

    .hero-buttons,
    .social-icons {
        justify-content: center;
    }

    .hero h1 {
        font-size: 55px;
    }

    .image-circle {
        width: 280px;
        height: 280px;
    }

    .profile-placeholder {
        width: 240px;
        height: 240px;
        font-size: 80px;
    }

    .about-container,
    .projects-container {
        grid-template-columns: 1fr 1fr;
    }

    .contact-container {
        grid-template-columns: 1fr;
    }
}


@media (max-width: 600px) {

    .navbar {
        padding: 0 15px;
    }

    .nav-btn {
        display: none;
    }

    .hero {
        padding-left: 18px;
        padding-right: 18px;
    }

    .hero h1 {
        font-size: 43px;
    }

    .hero h2 {
        font-size: 22px;
    }

    .hero-text {
        font-size: 14px;
    }

    .hero-buttons {
        flex-direction: column;
    }

    .section {
        padding: 75px 18px;
    }

    .section-title h2 {
        font-size: 34px;
    }

    .about-container,
    .projects-container {
        grid-template-columns: 1fr;
    }

    .image-circle {
        width: 220px;
        height: 220px;
    }

    .profile-placeholder {
        width: 190px;
        height: 190px;
        font-size: 60px;
    }

    footer {
        padding: 20px;
    }
}
